* {
  margin: 0;
}
.remark-code-title {
  color: var(--chakra-colors-gray-100);
}
.blog-heading:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: var(--chakra-colors-gray-500);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.blog-heading:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
