@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JetBrains";
  src: url("/JetBrains/JetBrainsMono-Regular.woff2");
}
@font-face {
  font-family: "Wotfard Bold";
  src: url("/wotfard/wotfard-bold-webfont.ttf");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Wotfard";
  src: url("/wotfard/wotfard-medium-webfont.ttf");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Wotfard", sans-serif;
  color: white;
}

* {
  margin: 0;
}
