---
import ThemeToggle from "@components/ThemeToggle.astro";
---

<nav class="w-full flex justify-end py-4 px-5 items-center gap-2">
  <!-- <a href="/blogs" class="border p-1 rounded-md px-4"> -->
  <!--   <p class="font-semibold text-sm">Blogs</p> -->
  <!-- </a> -->
  <ThemeToggle />
</nav>
