---
import "../styles/theme.css";
import Navbar from "@components/Navbar.astro";
import { SEO } from "astro-seo";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <Seo
      title="Personal space on the internet."
      description="My personal space to share my thoughts and interests."
      openGraph={{
        title: "Avatar",
        image: "/avatar.svg",
      }}
    />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/avatar.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>mooy</title>
  </head>
  <body
    class="flex text-ui-fg-base transition-colors h-full min-h-screen layout-grid"
  >
    <div class="flex flex-col items-center w-full relative h-full">
      <Navbar />
      <slot />
    </div>
    <script>
      import { getTheme, setTheme } from "@scripts/theme";
      const theme = getTheme();
      setTheme(theme);
    </script>
  </body>
</html>
